/* DS-Digital - Fonte Digital para Timer */
@font-face {
  font-family: "ds-digib";
  src: url("/fonts/ds-digidi.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Acumin Pro - Família Principal */
/* Thin - 100 */
@font-face {
  font-family: "Acumin Pro";
  src: url("../fonts/acumin-pro-thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro";
  src: url("../fonts/acumin-pro-thin-italic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* ExtraLight - 200 */
@font-face {
  font-family: "Acumin Pro";
  src: url("../fonts/acumin-pro-extralight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro";
  src: url("../fonts/acumin-pro-extralight-italic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Light - 300 */
@font-face {
  font-family: "Acumin Pro";
  src: url("../fonts/acumin-pro-light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro";
  src: url("../fonts/acumin-pro-light-italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Book/Regular - 400 */
@font-face {
  font-family: "Acumin Pro";
  src: url("../fonts/acumin-pro-book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro";
  src: url("../fonts/acumin-pro-book-italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium - 500 */
@font-face {
  font-family: "Acumin Pro";
  src: url("../fonts/acumin-pro-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro";
  src: url("../fonts/acumin-pro-medium-italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Semibold - 600 */
@font-face {
  font-family: "Acumin Pro";
  src: url("../fonts/acumin-pro-semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro";
  src: url("../fonts/acumin-pro-semibold-italic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Bold - 700 */
@font-face {
  font-family: "Acumin Pro";
  src: url("../fonts/acumin-pro-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro";
  src: url("../fonts/acumin-pro-bold-italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Black - 800 */
@font-face {
  font-family: "Acumin Pro";
  src: url("../fonts/acumin-pro-black.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro";
  src: url("../fonts/acumin-pro-black-italic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* UltraBlack - 900 */
@font-face {
  font-family: "Acumin Pro";
  src: url("../fonts/acumin-pro-ultrablack.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro";
  src: url("../fonts/acumin-pro-ultrablack-italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* Acumin Pro Condensed - Família Condensada (Condensed - meio termo) */
/* Light - 300 */
@font-face {
  font-family: "Acumin Pro Condensed";
  src: url("../fonts/acumin-pro-condensed-light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro Condensed";
  src: url("../fonts/acumin-pro-condensed-light-italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Regular - 400 */
@font-face {
  font-family: "Acumin Pro Condensed";
  src: url("../fonts/acumin-pro-condensed-medium.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro Condensed";
  src: url("../fonts/acumin-pro-condensed-italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Medium - 500 */
@font-face {
  font-family: "Acumin Pro Condensed";
  src: url("../fonts/acumin-pro-condensed-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro Condensed";
  src: url("../fonts/acumin-pro-condensed-medium-italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Bold - 700 */
@font-face {
  font-family: "Acumin Pro Condensed";
  src: url("../fonts/acumin-pro-condensed-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Acumin Pro Condensed";
  src: url("../fonts/acumin-pro-condensed-bold-italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root {
  --primary-color: #ffffff;
  --paragraph-color: #000;
  --secondary-color: #56aa43;
  --background-color: #004415;
  --secondary-background: #115727;
  --text-background-color: #c2eecb;

  /* Cores dos componentes */
  --accent-green-primary: #137b1a;
  --accent-green-secondary: #a2c63c;
  --disabled-color: #838181ff;

  /* Cores empresa */
  --yellow: #feda00;
  --blue: #0101fc;
  /* Cores acinzentadas dos componentes verdes para anchors anteriores */
  --accent-green-primary-grayed: #3c5e3e;
  --accent-green-secondary-grayed: #9fb482;

  /* Cores bloqueadas dos componentes verdes para anchors bloqueados */
  --accent-green-primary-blocked: #555555;
  --accent-green-secondary-blocked: #666666;

  /* Cores acinzentadas para anchors anteriores */
  --primary-color-grayed: #b8b8b8;
  --secondary-color-grayed: #7d9d6b;
  --background-color-grayed: #4a6450;
  --secondary-background-grayed: #5a6b5e;

  /* Cores para anchors bloqueados (cinza bem escuro) */
  --primary-color-blocked: #666666;
  --secondary-color-blocked: #555555;
  --background-color-blocked: #333333;
  --secondary-background-blocked: #444444;

  --font-family: "Acumin Pro Condensed", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  --font-family-regular: "Acumin Pro", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 500;
  font-style: italic; /* Todas as fontes por padrão em italic */
  background-color: var(--background-color);
  color: var(--primary-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}

.container {
  width: 80%;
  margin: 0 auto;
}
